<!DOCTYPE html>
<html lang="en">

<head>
    <title>Docket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/theme.css">
    <meta name="google-signin-client_id" content="1093409666695-bs4595ef83tlond9dsfqnc7cij4tcmnr.apps.googleusercontent.com">

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> -->

</head>
<style>
   .google{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    width: 223px;
    height: 37px;

    background: #96B1D1;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: dmsans-regular;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
</style>

<body>
    <div class="home_container">
        <h1 id="home_title">DOCKET</h1>

        <p id= "subtitle_group">/ˈdäkət/ <span id="noun">noun</span></p>
        
        <hr>

        <p id="definition">a task management system that conveniently schedules and breaks down your assignments into bite-sized pieces.</p>
        <p id="sentence">“What’s on the docket today?”</p><br>
        <form action="/home">
            <input type="submit" class ="google" value="Sign in with Google" />
        </form>
    </div>
    
    

    <!-- <footer>
        Made with ☕ by Cristie, Charu, and Margaret ©2021
    </footer> -->
</body>


</html>