<!DOCTYPE html>
<html lang="en">

<head>
    <title>Docket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/theme.css">

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> -->

</head>

<body>
    <div class="home_container">
        <h1 id="home_title">DOCKET</h1>

        <p id= "subtitle_group">/ˈdäkət/ <span id="noun">noun</span></p>
        
        <hr>

        <p id="definition">a task management system that conveniently schedules and breaks down your assignments into bite-sized pieces.</p>
        <p id="sentence">“What’s on the docket today?”</p>

    </div>
    

    <!-- <footer>
        Made with ☕ by Cristie, Charu, and Margaret ©2021
    </footer> -->
</body>


</html>